{% extends "mainapp/base.html" %}

{% block content %}

{% load static %}

<section id="showcase" class="my-1">
  <div class="primary-overlay text-white">
    <div class="container h-100">
      <div class="row h-100">
        <div class="col-md-6 text-center d-flex align-items-center">
          <div>
            <h1 class="display-4">New World Coding</h1>
            <p class="display-5">Extraordinary technical classes for the ambitious.</p>
          </div>
        </div>
        <div class="col-md-6 text-center d-none d-md-flex align-items-center">
          <video autoplay loop muted playsinline class="responsive-video">
            <source src="{% static 'mainapp/video/new_world_coding_website_vid.mp4' %}" type="video/mp4">
            Your browser does not support the video tag.
          </video>
        </div>
      </div>
    </div>
  </div>
</section>


<section class="py-1">
    <div class="container">
        <div class="row">
            <div class="col">
                <h1> Mission Statement</h1>
                <p> These things aren't useful without expert guidance. A 4090 RTX with 24GB RAM?  An M4 Max Macbook Pro? A case full of Raspberry Pis? It's easier to buy these things than it is to use them to their full potential.</p>
                <p>At New World Coding, we not only offer the latest and greatest hardware, but we also provide amazing classes where you can learn how to harness its full power. Whether you're interested in humble, energy-efficient microcontrollers or running massively parallel programs at blazing speeds, we can teach you how to do it. Join us and discover just how incredible technology can be when you know how to do things right.</p>
            </div>
        </div>
    </div>
</section>


<section class="py-1">
    <div class="container">
        <div class="row">
            <div class="col">
                <h1> Check out our upcoming workshops</h2>
                <ul>
                    <li>
                        <a href="/workshops/webdevelopment" class="my-custom-link-format">
                            Full Stack Development from HTML to Docker.
                        </a>
                    </li>
                    <li>
                        <a href="/teaching" class="my-custom-link-format-alt">
                            See full workshop list here
                        </a>
                    </li>                                                            
                </ul>
            </div>
        </div>
    </div>
</section>


<section class="py-1">
    <div class="container">
        <div class="row">
            <div class="col">
                <h1> Contact Us</h2>
                <p> 551-300-9323 </p>
                <p> melvyn@newworldcoding.com </p>
                <p> Offices in Union City and Hoboken NJ </p>
            </div>
        </div>
    </div>
</section>

<section class="py-1">
    <div class="container">
        <div class="row">
            <div class="col">
                <h1> We Write Software Too!</h2>
                <p> The old adage goes <p>
                  <blockquote class="blockquote text-center">
                    <p class="mb-0 fst-italic">"Those who can't do, teach"</p>
                    <footer class="blockquote-footer mt-2">Confucious. Maybe.</footer>
                  </blockquote>
                  <p> But that's not the case here. At New World Coding you'll be learning from real, full time programmers who work or have worked at respectable companies. You'll be learning from people who have had some good amount of success in industry, which means we can teach you all the real important details of the business. We also develop our own software in house. Be sure to check out the gallery of software for examples of cool programs we've written.</p> 
            </div>
        </div>
    </div>
</section>
{% endblock content %}