{% extends "mainapp/base.html" %}

{% block content %}

{% load static %}


<section class="py-1 header-section">
    <div class="container">
        <div class="row">
            <div class="col">
                <h1>What's On The Horizon</h1>
            </div>
        </div>
    </div>
</section>

<section class="py-1">
    <div class="container">
        <div class="row">
            <div class="col">
                <h2> Shopping List </h2>
                <p>
                    We have great tools like the oscilloscopes we use for our text encoding lab, the thinkpads and small form factor PCs we use for our workshops, the CNC machines we use in our machining classes, etc.. But we always want to be buying the latest and greatest stuff so our students have access to it. Here's a shopping list of some things we want to get for our students to play with:
                </p>
                <ul>
                    <li>64 GB Jetson Orin AGX Devkit - $2,000. This is an amazing low power computer that can be used to run your own chatgpt on your homenetwork, offline.</li>
                    <li>AMD Ryzen Threadripper Pro 7995WX 96 Core CPU - $10,000. Beast of a CPU. Would be nice to experiment with compile times compared to regular desktop/laptop cpus. Also, multiuser computers, video editing, etc. Monitor powerusage of it and compare to the manufacturer specifications. Alot of fun to be had.</li>
                    <li>AMD EPYC Rome 64 Core CPU - $8,000. See comments on the above CPU.</li>
                    <li>More Wireless Routers and Switches - $xxx. We could use more networking components to make even more and more advanced networking demonstrations. </li>
                    <li>Variety of mac computers for comparison of M architecture with x64 CPUs. </li>
                    <li>Variety of DDR4/DDR5 ram sticks and other PC components like CPUs, motherboards, etc. to experiment with PC builds. </li>
                </ul>
            </div>
        </div>
    </div>
</section>



{% endblock content %}