{% extends "mainapp/base.html" %}

{% block content %}

{% load static %}


<section class="py-1 header-section">
    <div class="container">
        <div class="row">
            <div class="col">
                <h1>Teaching</h1>
            </div>
        </div>
    </div>
</section>

<section class="py-1">
    <div class="container">
        <div class="row">
            <div class="col">
                <h2> How to Be Good With Computers </h2>
                <p>
                    The way to get good at programming, video editing, computer graphics - or any technical thing for that matter - is to practice consistently. And there is no better time or place in history to get good with technology than here and now. Youtube, Udemy, Coursera or the public library are all great places to learn for free or at negligible cost. You can get powerful used computers shipped to your door for about $100, or invest a little bit more and get a state-of-the-art machine from a popular manufacturer. The power to succeed is within you, and with all these tools and resources at your fingertips, you're sure to achieve your goals.
                </p>
                <p>
                    And why not take it a step further while you're studying? At New World Coding we offer fun, inspiring classes to supplement your education. In our workshops we'll show you many interesting things you haven't seen before, reinforce things you've already learned, and tie it all together through a series of hands-on, engaging projects. <strong>Have a look at the list of offerings below and consider signing up for one, two or all of them!</strong> You'll gain new skills, have a great time, and walk away with some completed projects you can show your friends, use in your homelab, or put on your resume.
                </p>
            </div>
        </div>
    </div>
</section>


<section class="py-1">
    <div class="container">
        <div class="row">
            <div class="col">
                <h2> Workshops </h2>
                <ul>
                    <li>
                        <a href="/workshops/webdevelopment" class="my-custom-link-format">
                            Full Stack Web Development: Backend, Frontend & Deployment.
                        </a>
                    </li>

                    <li>
                        <a href="/workshops/textencodings" class="my-custom-link-format">
                            Learn About Text Encodings and Create Your Own Font!
                        </a>
                    </li> 


                    <li>
                        <a href="/workshops/gameboy" class="my-custom-link-format">
                            Create and Publish Your Own Game Boy Game.
                        </a>
                    </li> 

                    <li>
                        <a href="/workshops/arduinorobot" class="my-custom-link-format">
                            Robot Programming With Arduino.
                        </a>
                    </li>    

                    <li>
                        <a href="/workshops/introtokotlin" class="my-custom-link-format">
                            Kotlin: The Programming Language You Need To Learn.
                        </a>
                    </li>  

                    <li>
                        <a href="/workshops/introtolinux" class="my-custom-link-format">
                            How To Use Linux.
                        </a>
                    </li>                                                            
                </ul>
            </div>
        </div>
    </div>
</section>


<section class="py-1">
    <div class="container">
        <div class="row">
            <div class="col">
                <h2> Tutoring / Afterschool </h2>
                <p>
                    For now our focus is on perfecting our workshops and continuing to write great software. In the future we may offer afterschool classes for younger students who would benefit from a structured, guided technical curriculum.  In particular, we're interested in potentially offering structured classes to work through books such as <a href="https://www.amazon.com/Exploring-BeagleBone-Techniques-Building-Embedded/dp/1118935128">this one</a> ,<a href="https://shopatsky.com/products/3d-astronomy-with-java">this one</a> and <a href="https://www.amazon.com/Linux-Driver-Development-Embedded-Processors/dp/1729321828"> this one</a>. In addition we would like to start a <a href="https://www.firstinspires.org/robotics/frc">FIRST Robotics</a> team, or maybe create a sailing robot to enter in <a href="https://www.microtransat.org/"> this race</a>.
                </p>
            </div>
        </div>
    </div>
</section>


{% endblock content %}