{% extends "mainapp/base.html" %}

{% block content %}

{% load static %}


<section class="py-1 header-section">
    <div class="container">
        <div class="row">
            <div class="col">
                <h1>Full Stack Web Development </h1>
                <h2>An amazing learning experience.</h2>
            </div>
        </div>
    </div>
</section>

<section class="py-1">
    <div class="container">
        <div class="row">
            <div class="col">
                <h2> Overview </h2>
                <p>
                    We're offering a unique 8-hour workshop that will teach you how to deploy a full-stack website showcasing your professional resume. <a href="https://github.com/melvyniandrag/WebDevelopmentWorkshop">Have a sneak peak at the class materials!</a>
                </p>
                <p>Imagine sharing a custom domain like <it>newworldcoding.com</it> with employers, where they can explore:</p>
                <ul>
                    <li>
                        A beautiful website running on a server you control.
                    </li>
                    <li>
                        Links to your projects on GitHub.
                    </li>
                    <li>
                        Photos, academic credentials, and even a blog about your latest work.
                    </li>
                    <li>
                        This workshop is perfect for career starters, tech enthusiasts, and yes—maybe even a fun nerdy date night!
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>

<section class="py-1">
    <div class="container">
        <div class="row">
            <div class="col">
                <h2> Tentative Schedule </h2>
                 <table>
  <tr>
    <th>Start</th>
    <th>End</th>
    <th>Subject</th>
  </tr>
  <tr>
    <td>8:00</td>
    <td>8:45</td>
    <td>Build a simple website with HTML, CSS, JavaScript.</td>
  </tr>
  <tr>
    <td>8:45</td>
    <td>9:30</td>
    <td>Learn the basics of Django, a powerful Python-based web framework.</td>
  </tr>
   <tr>
    <td>8:45</td>
    <td>9:30</td>
    <td>Learn the basics of Django, a powerful Python-based web framework.</td>
  </tr>
   <tr>
    <td>9:30</td>
    <td>10:15</td>
    <td>Create REST APIs with Django Rest Framework.</td>
  </tr>
  <tr>
    <td>10:15</td>
    <td>10:30</td>
    <td>Look at SQL databases and website backends.</td>
  </tr>
   <tr>
    <td>10:30</td>
    <td>11:15</td>
    <td>Master SSH and Linux server basics.</td>
  </tr>  
   <tr>
    <td>11:15</td>
    <td>11:45</td>
    <td>Deploy our 3 websites on Linux servers using Apache2.</td>
  </tr>
   <tr>
    <td>11:45</td>
    <td>12:15</td>
    <td>Lunch Break (provided)</td>
  </tr>
   <tr>
    <td>12:15</td>
    <td>1:00</td>
    <td>Introduction to Docker</td>
  </tr>
  <tr>
    <td>1:00</td>
    <td>1:30</td>
    <td>Deploy our 3 websites with Docker.</td>
  </tr>
  <tr>
    <td>1:30</td>
    <td>2:15</td>
    <td>Set up HTTPS with Let's Encrypt</td>
  </tr>
   <tr>
    <td>2:15</td>
    <td>2:40</td>
    <td>Connect a domain name to your sites.</td>
  </tr>
   <tr>
    <td>2:40</td>
    <td>3:20</td>
    <td>Host multiple sites on one server using NGINX as Reverse Proxy.</td>
  </tr>
   <tr>
    <td>3:20</td>
    <td>3:40</td>
    <td>Advanced NGINX configuration.</td>
  </tr>
   <tr>
    <td>3:40</td>
    <td>4:00</td>
    <td>Conclusion and next steps discussion.</td>
  </tr>    
</table> 
            

<p>By the end of the day, you’ll have a fully functional, secure, and personalized website—and the skills to deploy it anywhere.
</p>

</div>
</div>
</div>
</section>

<section class="py-1">
    <div class="container">
        <div class="row">
            <div class="col">
                <h2> Why Join This Workshop? </h2>
                <p>
                    Yes, you can learn these topics for free using resources like YouTube and documentation (see below). But this workshop condenses months of learning into a streamlined, hands-on experience, with guidance from an enthusiastic and experienced instructor (that’s me, wink).
                </p>
            </div>
        </div>
    </div>
</section>


<section class="py-1">
    <div class="container">
        <div class="row">
            <div class="col">
                <h3> Details </h3>
                <p>When: Early February</p>
                <p>Where: Mission 50 Coworking space in Hoboken, NJ</p>
                <p>Cost: $100 per person, or $150 for two (covers conference room and materials, please read more below).
                </p>
            </div>
        </div>
    </div>
</section>

<section class="py-1">
    <div class="container">
        <div class="row">
            <div class="col">
                <h2> Free Learning Resources </h2>
                <p>I genuinely wish this workshop could be free, but the costs for web servers, conference room rental, lunch, and other materials add up to over $500.</p>

                <p>If you prefer to learn independently, here are some excellent free references:</p>
                <ul>
                    <li>
                        <a href="https://docs.djangoproject.com/en/5.1/intro/tutorial01/">Django Tutorial.</a> One of the best technical tutorials I've ever read.
                    </li>
                    <li>
                        <a href="https://www.django-rest-framework.org/tutorial/quickstart/">Django REST APIs. </a>
                    </li>
                    <li>
                        <a href="https://www.youtube.com/watch?v=P3imFC7GSr0">NGINX Proxy Manager Tutorial</a>
                    </li>
                </ul>
                </p>
            </div>
        </div>
    </div>
</section>

<section class="py-1">
    <div class="container">
        <div class="row">
            <div class="col">
              <h2>Thanks for your attention—I hope to see you there!</h2>
            </div>
        </div>
    </div>
</section>  
{% endblock content %}