@font-face {
  font-family: 'KodeMonoRegular';
  src: url('/static/mainapp/fonts/Kode_Mono/static/KodeMono-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'PermanentMarkerRegular';
  src: url('/static/mainapp/fonts/Permanent_Marker/PermanentMarker-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'SonoRegular';
  src: url('/static/mainapp/fonts/Sono/static/Sono-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'GaladaRegular';
  src: url('/static/mainapp/fonts/Galada/Galada-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'TacOne';
  src: url('/static/mainapp/fonts/Tac_One/TacOne-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.responsive-video {
    max-width: 100%; /* Makes the video width responsive to the container */
    height: auto;    /* Keeps the video aspect ratio intact */
}

body {
  font-family: 'SonoRegular', sans-serif;
  margin-top: 100px; 
  background: ghostwhite;
}

h1{
    font-family: 'PermanentMarkerRegular', sans-serif;
}

h2{
    font-family: 'PermanentMarkerRegular', sans-serif;
}


h3{
    font-family: 'PermanentMarkerRegular', sans-serif;
}


.navbar {
  opacity: 1;
  background: ghostwhite;
}

.navbar-brand{
  color: black !important;
  font-size: 2.0rem;
}

.navbar-brand img{
  margin-right: 0px;
}

.nav-link{
  color: black !important;
}

.my-custom-link-format{
  color: blue;
  font-size: 1.2rem;
}

.my-custom-link-format-alt{
  color: rebeccapurple;
  font-size: 1.2rem;
}

#showcase {
  position: relative;
  min-height: 400px;
  display: flex;
  justify-content: center;
  align-items: center; /* Center content vertically and horizontally */
}

#showcase .primary-overlay {
    background: rgba(0,157,196,1.0);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.secondaryButton {
  background: #14ac14;
  color: #fff; }

.secondaryButton:hover {
	color: #000000;
} 


.header_with_button{
  display: flex;
  background: #bbbbbb;
  padding: 2rem ;
  border-radius: 5px;
}

.list_section_header{
  margin: 0;
}

.list_section_button{
  margin-left: auto;
}

.header-section{
    background: yellow;
}

.footer-background {
    background: rgba(0,157,196,1.0);
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  padding:8px;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}